*{
    padding: 0;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fraunces', sans-serif;
}

body{
    font-size: 14px;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
header{}

main{}

footer{}
